 /* 自定义粘滞导航栏样式 */
 .navbar {
    background-color: #343a40;
}
.navbar a {
    color: #ffffff;
}
.nav-link{
    margin-left:10px;
    font-size: 18px;
}
.nav-link1{
    padding-top:30px;
}
.brandset img{
    width: 50px;
    height: 50px;
}

/*old*/
*{
    margin: 0;
    padding: 0;
}
.header{
    position:sticky;
    top:0;  /*指定元素距离其包含块顶部的距离为0。意味着当向下滚动页面时，这个元素会在距离包含块顶部0像素的位置停留并固定，从而实现粘滞效果*/
    z-index:1000;  /*用于控制元素的堆叠顺序。当元素重叠时，z-index值较大的元素会显示在z-index值较小的元素之上*/ 
    width: 100%;
    height: 60px;
    background-color: rgb(68, 66, 66);
}
.tea{
    position: relative;
    top: -9px;
    left: -15px;
    float:left;
    height: 30px;
    margin: 0 15px 0 15px;
}
.tea img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.nav-item a{
    display: block;
    text-decoration: none;
    /* color: rgb(157, 160, 160); */
    height: 36px;
    padding-top: 8px;
}
.header div ul li{
    float: left;
    list-style: none;
    margin: 0 0 0 30px;
}
/*搜索框*/
.input{
    float:right;
    /* background-color: #fff; */
    width: 400px;
    height: 50px;
}
.input2 form{
    padding-top:15px;
}
.ss{
    float:left;
    width: 200px;
    height: 34px;
    outline: none;
    border-radius: 4px;
    border-color: black;
    text-indent: 5px;
    margin-left: -70px;
}
.icon{
    float:left;
    width: 30px;
    height: 30px;
    color:black;
    margin-left: 4px;
    background-color: rgb(68, 66, 66);
    border-radius: 4px;
    border: 2px solid rgb(168, 160, 160); 
}
.icon i{
    display: block;
    position:relative;
    top:22%;
    left:22%;
    color: rgb(168, 160, 160);
}
.icon a{
    text-decoration: none;
}
.icon i:hover{
    color: white;
}
.user{
    float:left;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 20px;
    margin:2px 0 0 0px;
}
.user2{
    position:relative;
    top:13%;
    left:27%;
}
.user2 i{
    color:rgb(90, 86, 86);
    /* border-radius: 4px; */
}
.login a{
    float: left;
    text-decoration: none;
    color: rgb(157, 160, 160);
    margin:2px 0 0 9px;
}
.regist a{
    float: left;
    text-decoration: none;
    color: rgb(157, 160, 160);
    margin:2px 10px 0 7px;
}
.login a:hover{
    color:white;
    text-decoration: none;
}
.regist a:hover{
    color:white;
    text-decoration: none;
}
/*搜索框*/
.search-bar{
    margin-right:40px;
}
a.nav-link{
	color:gray !important;
}
.dropdown-toggle{
	color:gray !important;
}
.dropdown-toggle:hover{
	color:#FFFFFF !important;
}

h1 {
    color: #a5843d;
    text-align: center;
    margin-top: 20px;
}
.process p {
    text-align: center;
    font-size: 18px;
    color: #a5843d;
}
.text2 p {
    text-align: center;
    font-size: 16px;
}
.craft3 img {
    width: 160px;
    height: 150px;
}
.craft3 h3 {
    font-size: 20px;
    color: #a5843d;
    margin-top: -2px;
}
.craft3 p {
    font-size: 14px;
    color: #6c757d;
}

.quality {
    text-align: center;
    padding: 20px;
}
.quality h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
.quality p {
    font-size:18px;
    color:#a5843d;
    margin-bottom: 20px;
}
.tealeafexample img {
    max-width: 100%;
    height: auto;
}
.tealeafexample p {
    margin-top: 10px;
}
.text5 p{
    font-size:16px;
    color:#707173;
}
.col-12{
    font-size:16px;
    color:#707173;
}

.custom-gif {
    width: 100%;
    height:230px;
  }
  .gif-container {
    position: relative;
    text-align: center;
    color: white;
    padding:0 0 0 0 !important;
  }

  .top-section {
    text-align: center;
    margin-bottom: 20px;
}
.top-section p {
    margin: 0;
    font-size:16px;
    color:#707173;
}
.image-section{
    margin-top:30px;
}
.image-section img {
    width: 760px;
    height: 260px;
}
.text-section {
    background-color: #a8d5ba;
    padding: 40px 20px;
    text-align: center;
    height: 325px;
}
.text-section h2 {
    position:absolute;
    top:-25px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}
.col-md-6 p{
    padding-top:10px;
    text-align:justify;
}

/*热点新闻*/
.headline {
    text-align: center;
    margin-bottom: 30px;
}
.headline h1 {
    font-size: 40px;
}
.headline p {
    font-size: 16px;
    color: #707173;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-top:0px;
}
.card-text {
    font-size: 14px;
}
.card-footer {
    background: white;
    border-top: none;
}
.card-footer a button{
    width: 55px;
    height: 25px;
    border:1px solid rgb(9, 5, 5);
    border-radius: 3px;
}
.card-footer a button:hover{
    background-color: #fff;
}


.footer {
    background-color: rgb(68,66,66);
    padding: 20px 0;
    font-size: 14px;
}
.footer a {
    color: #999999;
    font-size:13px;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: none !important;
    color:#c81623;
}
.footer span{
    font-size:13px;
    color:#999999;
}
.footer a:hover {
    text-decoration: underline;
}
.footer .links span {
    margin: 0 5px;
    color: #6c757d;
}
.footer2, .footer3 {
    margin-top: 20px;
}
.img-fluid{
    width: 160px;
    height: 66px !important;
}
.footer3 span {
    margin-left: 10px;
}
.footer2 p {
    margin-bottom: 10px;
}
.craft3{
    margin-top:20px;
}

.justify-content-center{
    font-size:13px;
    color:#999999;
}
.justify-content-center span{
    font-size:13px;
    color:#999999;
    padding:0 5px;
}








